---
title: Acasa
slug: acasa
id: index
lang: ro
---
<!-- Main Slider Section -->
<section id="slider">
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{{assets}}/img/slider/slide1.jpg" data-bgfit="cover" data-delay="5000" data-saveperformance="on" data-title="Ken Burns Slide">
          <!-- MAIN IMAGE -->
          <img src="{{assets}}/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="{{assets}}/img/slider/slide1.jpg">
          <!-- LAYERS -->
          <div class="tp-caption large_bold_white lft tp-resizeme start" data-x="30" data-y="130" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
            <h1 class="big-title">ICPIAF SA</h1>
          </div>
          <div class="tp-caption lfl tp-resizeme start" data-x="30" data-y="260" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1600" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
            <p class="small-description">Institutul de Cercetare si Productie pentru Industria Alimentara si Frig</p>
          </div>
          <div class="tp-caption customin tp-resizeme start" data-x="30" data-y="320" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1800" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1300" data-endeasing="Power4.easeIn" style="z-index: 11;">
          <a href="cerere-oferta.html" class="btn btn-large btn-effect">Cerere oferta <i class="icon-arrow-right icons"></i></a>
          </div>
        </li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{{assets}}/img/slider/slide2.jpg" data-bgfit="cover" data-delay="5000" data-saveperformance="on" data-title="Ken Burns Slide">
          <!-- MAIN IMAGE -->
          <img src="{{assets}}/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="assets/img/slider/slide2.jpg">
          <!-- LAYERS -->
          <div class="tp-caption sfb tp-resizeme start" data-x="30" data-y="130" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
            <h1 class="big-title">Produsele pe care <span>le comercializam</span></h1>
          </div>
          <div class="tp-caption sfb tp-resizeme start" data-x="30" data-y="260" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1600" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
            <p class="small-description">Lista produselor comercializate si descrierea lor tehnica detaliata.</p>
          </div>
          <div class="tp-caption sfb tp-resizeme start" data-x="30" data-y="320" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1800" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1300" data-endeasing="Power4.easeIn" style="z-index: 11;">
          <a href="produse.html" class="btn btn-large btn-effect">Mai multe <i class="icon-arrow-right icons"></i></a>
          </div>
        </li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{{assets}}/img/slider/slide3.jpg" data-bgfit="cover" data-delay="5000" data-saveperformance="on" data-title="Ken Burns Slide">
          <!-- MAIN IMAGE -->
          <img src="{{assets}}/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="assets/img/slider/slide3.jpg">
          <!-- LAYERS -->
          <div class="tp-caption large_bold_white tp-resizeme lft start" data-x="center" data-hoffset="0" data-y="center" data-voffset="-60" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1600" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
            <h1 class="big-title">
              Procesul de comercializare
            </h1>
          </div>
          <div class="tp-caption tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0"  style="z-index: 14; min-height: 0px; min-width: 0px; line-height: 25px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 259.5px; top: 340px; visibility: visible; opacity: 0; transform: translate3d(0px, 0px, 0px);" data-endeasing="Back.easeIn" data-endspeed="400" data-start="1500" data-speed="1000" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" ><p class="small-description">Aflati mai multe delatii legate de procesul de comercializare al produselor</p>
          </div>

          <div class="tp-caption customin tp-resizeme lfb start" data-x="center" data-hoffset="0" data-y="center" data-voffset="60" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1800" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1300" data-endeasing="Power4.easeIn" style="z-index: 11;">
            <a href="conditii-de-vanzare.html" class="btn btn-large btn-border">Conditii de vanzare</a>
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
</section>
<!-- Main Slider Section End-->

<!-- Start Boxed Section -->
<div class="boxed">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3>Produsele noastre respecta cele mai inalte standarde</h3>
      </div>
      <div class="col-md-4 col-sm-4">
        <a href="cerere-oferta.html" class="btn btn-border">Cerere oferta</a>
      </div>
    </div>
  </div>
</div>
<!-- End Boxed Section -->

<!-- Start Service Section -->
<div class="service section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xl-12">
        <div class="service-box">
          <div class="service-head">
            <a class="icon">
              <i class="flaticon-construction14"></i>
            </a>
            <h2>Executie utilaje</h2>
            <p class="desc">utilaje si constructii metalice</p>
          </div>
          <div class="service-content">
            <p>Executam utilaje si efectual constructii metalice dupa specificatiile clientilor</p>
            <a href="servicii.html" class="btn btn-effect">Mai multe <i class="icon-arrow-right icons"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xl-12">
        <div class="service-box">
          <div class="service-head">
            <a class="icon">
              <i class="flaticon-construction16"></i>
            </a>
            <h2>Conceptie utilaje</h2>
            <p class="desc">conceptie si proiectare utilaje</p>
          </div>
           <div class="service-content">
            <p>Conceptie si proiectare de utilaje si de echipamente tehnologice</p>
            <a href="servicii.html" class="btn btn-effect">Mai multe <i class="icon-arrow-right icons"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xl-12">
        <div class="service-box">
          <div class="service-head">
            <a class="icon">
              <i class="flaticon-building33"></i>
            </a>
            <h2>Elaborare proiecte</h2>
            <p class="desc">proiecte concepute de la A la Z</p>
          </div>
           <div class="service-content">
            <p>Elaborare proiecte complete pentru fabrici de prelucrare lapte</p>
            <a href="servicii.html" class="btn btn-effect">Mai multe <i class="icon-arrow-right icons"></i></a>
          </div>
        </div>
      </div>

    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- End Service Section -->

<!-- Start Counter Section -->
<div id="counter" class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="counter-item left-line">
          <div class="icon">
            <i class="icon-check">
            </i>
          </div>
          <h5>
            Dealer autorizat
          </h5>
          <hr>
          <div class="timer" data-to="5" data-speed="3000">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="counter-item">
          <div class="icon">
            <i class="icon-trophy">
            </i>
          </div>
          <h5>
            Categorii produse
          </h5>
          <hr>
          <div class="timer" data-to="14" data-speed="3000">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Counter Section -->

<!-- Start Client Section -->
<div class="client section">
  <div class="container">
    <!-- Start Heading -->
    <div class="heading">
      <div class="section-title">Dealer <span>autorizat</span></div>
    </div>
    <!-- End Heading -->
    <!-- Some Text -->
    <p class="description text-center">
     S.C. ICPIAF S.A. Cluj-Napoca este distribuitor autorizat al urmatoarelor firme:
    </p>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div id="client-logo" class="touch-carousel">
          <div class="client-logo item" >
            <div class="client-item">
              <a href="grundfos.html">
              <img src="{{assets}}/img/clients/logo-01.png" alt="" />
              </a>
            </div>
          </div>
          <div class="client-logo item" >
            <div class="client-item">
              <a href="sauter.html">
              <img src="{{assets}}/img/clients/logo-02.png" alt="" />
              </a>
            </div>
          </div>
          <div class="client-logo item" >
            <div class="client-item">
              <a href="lenze.html">
              <img src="{{assets}}/img/clients/logo-03.png" alt="" />
              </a>
            </div>
          </div>
          <div class="client-logo item" >
            <div class="client-item">
              <a href="swep.html">
              <img src="{{assets}}/img/clients/logo-04.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Client Section -->
