---
component: languages
---
{{#is id "index"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="index.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="index_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "produse"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="produse.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="produse_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod1"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="fabrici-procesare.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="fabrici-procesare_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod2"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="utilaje-prelucrare-lapte.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="utilaje-prelucrare-lapte_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod3"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="rezervoare-recipiente-inox.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="rezervoare-recipiente-inox_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod4"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="schimbatore-de-caldura-cu-placi-si-garnituri.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="schimbatore-de-caldura-cu-placi-si-garnituri_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod5"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="schimbatoare-de-caldura-cu-placi-semisudate.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="schimbatoare-de-caldura-cu-placi-semisudate_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod6"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="micropuncte-termice.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="micropuncte-termice_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod7"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="grupuri-preparare-apa-calda.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="grupuri-preparare-apa-calda_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod8"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="filtre-autocuratitoare-automate.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="filtre-autocuratitoare-automate_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod9"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="filtre-cu-autocuratare-cu-piston.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="filtre-cu-autocuratare-cu-piston_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod10"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="filtre-cu-atocuratire-cu-spalare-continua.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="filtre-cu-atocuratire-cu-spalare-continua_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod11"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="filtre-autocuratitoare.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="filtre-autocuratitoare_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod12"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="instalatii-frigorifice-tehnologice.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="instalatii-frigorifice-tehnologice_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod13"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="instalatii-frigorifice-tehnologice-depozite.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="instalatii-frigorifice-tehnologice-depozite_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "prod14"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="produse-ambutisate-stantate.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="produse-ambutisate-stantate_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "dealer"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="dealer.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="dealer_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "dealer1"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="grundfos.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="grundfos_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "dealer2"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="sauter.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="sauter_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "dealer3"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="lenze.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="lenze_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "dealer4"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="swep.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="swep_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "servicii"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="servicii.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="servicii_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "certificari"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="certificari.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="certificari_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "conditii"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="conditii-de-vanzare.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="conditii-de-vanzare_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "cerere"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="cerere-oferta.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="cerere-oferta_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
{{#is id "contact"}}
  <li{{#is lang "ro"}} class="language-inactive"{{/is}}>
    <a href="contact.html">
      <img src="{{assets}}/img/ro.png" />
    </a>
  </li>
  <li{{#is lang "en"}} class="language-inactive"{{/is}}>
    <a href="contact_en.html">
      <img src="{{assets}}/img/en.png" />
    </a>
  </li>
{{/is}}
